**/node_modules
**/config.json
**/.env
.DS_Store
Thumbs.db
.vscode
logs
**/.next
**/out
**/build

gmma-backend/music/**
gmma-backend/playlists/**
gmma-backend/temp_uploads/**
gmma-backend/downloads/**
gmma-backend/videos/**